
    <div class= "maincontainer">
        <p class="mainH1">Password Generator</p>
        <div class="passwordviewer">
            <input type="text" readonly value="{{generatedPassword}}">
        </div>
        <div class="passwordlength">
            <h3>Character Length</h3>
            <label for="slider"></label>
            <input id="slider" type="range" min="4" max="20" [(ngModel)]="value" > 
            <p>{{ value }}</p>
        </div>

        <div class="options">
                <input type="checkbox" [(ngModel)]="checkUp" >Include Uppercase Letters
                <input type="checkbox" [(ngModel)]="checkLow" >Include LowerCase Letters
                <input type="checkbox" [(ngModel)]="checkNum">Include Numbers
                <input type="checkbox" [(ngModel)]="checkSym">Include Symbols
        </div>

        <div class="strength">
            <h3>STRENGTH: {{strengthValue}}</h3>
            <div class="rangeindicators">
                <div class="indicator1" [ngClass]="{'active': strength >= 0}" >

                </div>
                <div class="indicator2" [ngClass]="{'active': strength >= 2}" >
                    
                </div>
                <div class="indicator3" [ngClass]="{'active': strength >= 3}">
                    
                </div>
                <div class="indicator4" [ngClass]="{'active': strength >= 4}">
                    
                </div>
            </div>
        </div>
        
        <div class="generatebutton">
            <input type="button" value="Generate ->" (click)="OnSubmit()">
        </div>

    </div>
